#home {
  padding-top: 24px;
  padding-left: 134px;
  background-color: #252836;
  width: 100vw;
  height: 100vh;
  position: absolute;
  // z-index: -1;
  .header {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    .name-time-container {
      .name {
        font-size: 28px;
        color: white;
        font-weight: 600;
      }
      .timeStamp {
        color: #e0e6e9;
        display: block;
      }
    }
    .search-container {
      margin-top: 10px;
      width: 220px;
      height: 48px;
      background-color: #2d303e;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      input {
        background-color: #2d303e;
        width: 164px;
        height: 20px;
      }
    }
  }

  .item-container {
    display: flex;
    width: 1000px;
    height: 2000px;
    align-content: space-around;
    background-color: white;
    flex-direction: row;
    #homeMenu {
      margin-right: 10px;
    }
  }
  .menu-tabs {
    .nav-item.nav-link.active {
      color: #ea7c69;
      font-weight: 600;
    }
    border: none;
    .nav-item.nav-link {
      color: white;
      font-weight: 600;
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      background-color: transparent;
      border-bottom: 4px solid;
      // border: none;
    }

    // .nav-tabs .nav-link:hover {
    //   border: none;
    //   border-bottom: 4px #ea7c69 solid;
    // }
  }
}
